{{!-- name.official - полное имя страны
capital - столица
population - население
flags.svg - ссылка на изображение флага
languages - массив языков --}}

{{#each this}} 
  <div>
       <div >
    <img src='{{flags.svg}}' width='36' height='24' alt='{{name.official}}' class='country__img' />
    <h2 class='card-title'>{{name.official}}</h2>
  </div>
    
    <ul class="list-group">
      <li class="card-item">Capital: {{capital}}</li>
      <li class="card-item">Population: {{population}}</li>
      <li class="card-item">Languages:
          {{#each languages}}
        {{this}}
        {{/each}}        
      </li>
    </ul>
  </div>
{{/each}}