
{{#each this}}
<li>
<a href="{{name.common}}" data-name="{{name.common}}">
    <img src="{{flags.svg}}"  width='36' height='24'alt="flag {{name.official}}">
    <p>{{name.official}}</p>
</a>
</li>
{{/each}}


