{{!-- name.official - полное имя страны
capital - столица
population - население
flags.svg - ссылка на изображение флага
languages - массив языков --}}

{{#each this}}
<div>
  <div >
    <img src="{{flags.svg}}" alt=" {{name.official}}  ">
  </div>
  <div>
    <h2 class="card-title">Name: {{name.official}}  </h2>
    <ul class="list-group">
      <li class="card-text">Capital: {{capital}}</li>
      <li class="card-text">Population:{{population}}</li>
      <li class="card-text">Languages:
          {{#each languages}}
        <li>{{this}}</li>
        {{/each}}        
      </li>
    </ul>
  </div>
</div>
{{/each}}